body{
    background: #5522aa; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right top, #5522aa, #aa2255); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right top, #5522aa, #aa2255); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right top, #5522aa, #aa2255); /* For Firefox 3.6 to 15 */
    background: linear-gradient(right top, #5522aa, #aa2255); /* Standard syntax */
    
    color:#eee;
}

#login{
    width:500px;
    margin:0 auto;
}
#login input, select, option{
    color:#000;
}

#login input[type="text"]{
    color:#eee;
    background-color:#0da;
    font-size: 30px;
    margin:0 auto;
    width:500px;   
}
#login select{ 
}
#mainGame button{
    color:#000;
}
.multi_table{
    width:800px;
}
.multi_table input[type="number"]{
    display: block;
  margin: 0;
  height:100%;
  width: 100%;

}
.multi_table input[type=number]::-webkit-inner-spin-button, 
.multi_table input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.multi_table td{
    color:#e00;
    margin: 10px;
}
.multi_table, th, td{
      font-size: 30px;
     border: 1px solid black;
}

.multi_table input[type="text"] {
    width: 100%;
    height:100%;
}

#player_list{
    width:150px;
    height:23.75em;
    float:left;
    font-size:20px;
    background-color:#aa2255;
}

#player_list ul{
    padding:0 10px;
}
#player_list ul li{
    padding:0 10px;
    list-style-type: none;
}

.gameStats {
    width:500px;
    margin:0 auto;
}

.gameStats table td{
    background-color:#00E;
}