#login{
    width:30%;
    margin:0 auto;
}

.multi_table{
    width:600px;
}
.multi_table input[type="number"]{
    display: block;
  margin: 0;
  height:100%;
  width: 100%;

}
.multi_table input[type=number]::-webkit-inner-spin-button, 
.multi_table input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.multi_table td{
    margin: 10px;
}
.multi_table, th, td{
      font-size: 30px;
     border: 1px solid black;
}

.multi_table input[type="text"] {
    width: 100%;
    height:100%;
}

#player_list{
    width:150px;
    float:left;
    font-size:20px;
    margin-top: 20px;
}

#player_list ul{
    padding:0 10px;
}
#player_list ul li{
    padding:0 10px;
    list-style-type: none;
}