<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
	<head>
		<title><%= title %></title>
	</head>

	<body>

       <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
	   <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  
	   <link rel="stylesheet" href="assets/css/desktop.css" ><!--media="all and (min-width:720px)">-->
	  
        <meta name="viewport" content="width=500, initial-scale=1">
        <div style="font-size:1px;">.</div>

	   <script src="/socket.io/socket.io.js"></script>

		<section ng-view></section>
		<script type="text/javascript" src="/angular.js"></script>
		<script type="text/javascript" src="/angular-resource/angular-resource.js"></script>
		<script type="text/javascript" src="/angular-route/angular-route.js"></script>
		<script type="text/javascript" src="/application.js"></script>

		<script type="text/javascript" src="/user/user.client.module.js"></script>
		<script type="text/javascript" src="/user/controllers/user.client.controller.js"></script>
		<script type="text/javascript" src="/user/config/user.client.routes.js"></script>

		<script type="text/javascript" src="/home/home.client.module.js"></script>
		<script type="text/javascript" src="/home/controllers/home.client.controller.js"></script>
		<script type="text/javascript" src="/home/config/home.client.routes.js"></script>

		
		<script type="text/javascript" src="/multiplication/multi.client.module.js"></script>
		<script type="text/javascript" src="/multiplication/services/multi.client.service.js"></script>
		<script type="text/javascript" src="/multiplication/controllers/multi.client.controller.js"></script>
		<script type="text/javascript" src="/multiplication/config/multi.client.routes.js"></script>

	</body>
</html>
